extends layout2

block content
    header
        div(class="thumbnail-wrapper")
            video(src="videos/Rallys.mp4" loop autoplay)
            a(class="w3-button w3-round-large w3-red w3-padding-large w3-border", href="home" ) ENTRAR