doctype html
html(lang="pt-pt")
  head
    title Museu do Rally
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/editForms.js')
  body
    block content